@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-black;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between transition-all bg-gradient-to-b from-neutral-800 h-16 text-xs px-6 py-4 lg:px-10 lg:py-6 lg:text-sm;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer flex items-center text-xs font-medium lg:text-sm text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .scrollBtn {
    @apply absolute m-auto w-12 h-[100%] top-0 bottom-0 cursor-pointer z-50 hidden group-hover:inline bg-black/50 hover:bg-black/75;
  }

  .bannerBtn {
    @apply flex items-center gap-x-1 px-[1.5vw] py-[.3vw] rounded font-semibold opacity-80 hover:opacity-100;
  }

  .footerLink {
    @apply text-[.8rem] mt-[20px] mr-auto px-[4%] text-[#808080] cursor-pointer md:basis-[25%] basis-[50%];
  }

  .footerSpan {
    @apply hover:border-b-[#808080] hover:border-b-[1px];
  }

  .socialMedia {
    @apply w-8 h-8 cursor-pointer;
  }

  .input {
    @apply w-full rounded bg-[#333333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
  
  .modalButton {
    @apply flex items-center justify-center bg-zinc-800 rounded-full text-white
  }

  .iconWrapper {
    @apply bg-black/60 w-9 h-9 flex items-center cursor-pointer rounded-full
  }

  #sign_up_input:focus ~ #sign_up_placeholder,
  #sign_up_input:not(:focus):valid ~ #sign_up_placeholer{
    top: -20px;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    opacity: 1;
  }


}